:root{
    --primary-color:#ECEFF1;
    --secondary-color: #78909C; 
    --third-color: #37474F;
 }
 
.MainDivMainDivUserDashBoard
{
    height: 80vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.headMainDivUserDashBoard
{
    color: var(--third-color);
    font-size: x-large;
}
